@import "@/styles/index";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .text {
    margin-top: $gap_2;
  }

  .link {
    color: $color_primary;
    transition: color 0.2s;
    text-decoration: none;

    &:hover {
      color: darken($color_primary, 10%);
    }
  }
}