@import "@/styles/index";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $gap;
  background-color: $color_surface_card;
  border-right: 1px solid $color_surface_border;
}