//Variables de ancho y alto
$header-height: 64px;
$left-panel-width: 250px;
$auth-panel-width: 350px;
$notification-panel-width: 450px;
$scroll-bar-width: 10px;

//Variables de profundidad
$left-drawer-depth: 5;
$header-depth: 10;
$notification-panel-depth: 20;

//prime react principal
$font-family: "OpenSans",
  Segoe UI,
  Roboto,
  Helvetica,
  Arial,
  sans-serif;

//estilos generales
$content-padding: 1.25rem;
$inline-spacing: 0.5rem;
$border-radius: 4px;
$disable-opacity: 0.4;
$focus-ring: 0 0 0 0.2rem rgba(255, 140, 0, 0.6);
$maskbg: rgba(0, 0, 0, 0.4);
$box-shadow-color: rgba(255, 207, 149, 0.5);

$highlight-bg: rgba(165, 180, 252, 0.16);
$hover-bg: $highlight-bg;

$highlight-text-color: white;
$focus-outline: rgba(255, 143, 0, 0.6);

//core colors
$text-color: rgba(255, 255, 255, 0.87);
$text-color-secondary: rgba(255, 255, 255, 0.6);
$error: #ff5757;

//colors levels
$primary-color: #ff8f00;
$primary-color-text: #1c2127;
$secondary-bg: #cbd5e1;
$secondary-text: #1c2127;

$success-bg: #4fff2c;
$success-text: $primary-color-text;
$success-shadow: #178800;
$success-outlined: rgba(0, 255, 94, .16);

$info-bg: #489dfe;
$info-text: $primary-color-text;

$warning-bg: #fd0;
$warning-text: $primary-color-text;
$warning-button-outlined: rgba(255, 221, 0, .04);

$help-bg: #bd81fe;
$help-text: $primary-color-text;

$danger-bg: #f66;
$danger-text: $primary-color-text;

//messages
$message-success: #b3ffa3;
$message-info: #9fccff;
$message-warning: #fff2a0;
$message-help: #cd9fff;
$message-danger: #ffa2a2;

//bg
$surface-ground: #040d19;
$surface-section: #040d19;
$surface-card: #071426;
$surface-overlay: #071426;
$surface-border: #0b213f;
$surface-hover: rgba(255, 255, 255, .03);

//forms
$form-bg: $surface-ground;
$form-border-focus: $primary-color;
$form-border-hover: $primary-color;
$form-filled-background: #0f2846;

//otros colores bg
$surface-a: #071426;
$surface-b: #040d19;
$surface-c: rgba(255, 255, 255, 0.03);
$surface-d: #0b213f;
$surface-e: #071426;
$surface-f: #071426;
$surface-0: #040d19;
$surface-50: #1d2530;
$surface-100: #363d47;
$surface-200: #4f565e;
$surface-300: #686e75;
$surface-400: #82868c;
$surface-500: #9b9ea3;
$surface-600: #b4b6ba;
$surface-700: #cdcfd1;
$surface-800: #e6e7e8;
$surface-900: #ffffff;
$gray-50: #e6e7e8;
$gray-100: #cdcfd1;
$gray-200: #b4b6ba;
$gray-300: #9b9ea3;
$gray-400: #82868c;
$gray-500: #686e75;
$gray-600: #4f565e;
$gray-700: #363d47;
$gray-800: #1d2530;
$gray-900: #040d19;