@import "@/styles/index.scss";

.header {
  position: relative;
  z-index: $header-depth;
  height: $header-height;
  padding: 0px $content-padding;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: $surface-card;
  border-radius: 0;
  box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.2) !important;

  &_options {
    display: flex;
    flex-direction: row;
    align-items: center;

    &_avatar {
      background-color: $primary-color;
      color: $primary-color-text;
    }

    &_displayName,
    &_item {
      margin-left: 10px;
    }

    &_item {
      width: 40px !important;
      height: 40px !important;
    }
  }
}