@import "@/styles/index";

.header {
  position: relative;
  z-index: $header_depth;
  height: $header_height;
  padding: 0px $gap;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: $color_surface_card;
  border-bottom: 1px solid $color_surface_border;
  border-radius: 0;
  box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.6);

  &_options {
    display: flex;
    flex-direction: row;
    align-items: center;

    &_avatar {
      background-color: $color_primary;
      color: $color_text;
    }

    &_displayName,
    &_item {
      margin-left: 10px;
    }

    &_item {
      width: 40px !important;
      height: 40px !important;
    }
  }
}