// paddings
$_defaultPadding: 1.25rem;
$_scaleSM:0.875;
$_scaleLG:1.25;

// padding input
$_inputPadding:.65rem .65rem;
$_inputListPadding:.65rem 0;
$_inputListItemPadding:.65rem 1.25rem;
$_inputListHeaderPadding:.65rem 2rem;

// padding button
$_buttonPadding:.5rem .65rem;
$_buttonIconOnlyPadding:.65rem 0;

// padding input switch slider
$_inputSwitchSliderPadding:.25rem;

// padding panel
$_panelHeaderPadding:1.25rem;
$_panelToggleableHeaderPadding:.65rem 1.25rem;
$_panelContentPadding:1.25rem;
$_panelFooterPadding:0.65rem 1.25rem;

// padding file upload
$_fileUploadContentPadding:2rem 1rem;

// padding card
$_cardBodyPadding:1.25rem;
$_cardContentPadding:1.25rem 0;
$_cardFooterPadding:1.25rem 0 0 0;

// padding paginator
$_paginatorPadding:.5rem 1rem;
$_paginatorElementPadding:0;

// padding table
$_tableHeaderPadding:1rem 1rem;
$_tableHeaderCellPadding:1rem 1rem;
$_tableBodyCellPadding:1rem 1rem;
$_tableFooterCellPadding:1rem 1rem;
$_tableFooterPadding:1rem 1rem;

// padding dataview
$_dataViewContentPadding:0;

// padding datascroller
$_dataScrollerContentPadding:0;

// padding tree
$_treeContainerPadding:0.286rem;
$_treeNodePadding:0.143rem;
$_treeNodeContentPadding:.5rem;
$_treeNodeChildrenPadding:0 0 0 1rem;

// padding timelinemenu
$_timelineVerticalEventContentPadding:0 1rem;
$_timelineHorizontalEventContentPadding:1rem 0;

// padding messages
$_messagePadding:1.25rem 1.65rem;

// padding toast
$_toastPadding:1rem;

// padding dialog
$_dialogHeaderPadding:1.5rem;
$_dialogContentPadding:0 1.5rem 2rem 1.5rem;
$_dialogFooterPadding:0 1.5rem 1.5rem 1.5rem;

// padding confirmpopup
$_confirmPopupFooterPadding:0 1.25rem 1.25rem 1.25rem;

// padding menu (e.g. menu, menubar, tieredmenu)
$_menuitemPadding:.6rem .65rem;
$_submenuHeaderPadding:.6rem .65rem;
$_verticalMenuPadding:.25rem 0;

// padding breadcrum
$_breadcrumbPadding:1rem;

// padding horizontalMenu
$_horizontalMenuPadding:.5rem;

// padding badge and tag
$_tagPadding:.25rem .4rem;

// padding carousel
$_carouselIndicatorsPadding:1rem;

// padding galleria
$_galleriaCaptionPadding:1rem;
$_galleriaIndicatorsPadding:1rem;
$_galleriaThumbnailContainerPadding:1rem .25rem;

// padding divider
$_dividerHorizontalPadding:0 1.25rem;
$_dividerVerticalPadding:1.25rem 0;

// padding dock
$_dockItemPadding: .5rem;
$_dockPadding: .5rem .5rem;

// padding imagePreview
$_imagePreviewToolbarPadding:1rem;