@import "@/styles/index";

.container {
  display: flex;
  padding: $gap;

  .column {
    display: flex;

    &_left,
    &_right {
      display: flex;
      flex-direction: column;
    }

    &_left {
      width: 350px;
    }

    &_right {
      flex: 1;
    }
  }
}