@import "@/styles/index";

.container {
  display: flex;
  padding: $gap;

  .column {
    display: flex;

    &_left,
    &_right {
      display: flex;
      flex-direction: column;
    }

    &_left {
      margin-right: $gap;
      width: 320px;

      .buttons {
        margin-top: $gap;
        width: 100%;
        display: flex;


        .button {
          flex: 1;
        }
      }

      .tree_resumes {
        margin-top: $gap_4;
      }
    }

    &_right {
      flex: 1;

      .table {
        margin-top: $gap_2;

        &_header {
          margin-left: $gap_4;
          margin-bottom: $gap_4;
        }
      }
    }
  }
}