@import "@/styles/index";

.container {
  padding: $gap_2 $gap;

  .tooltips {
    width: 280px;

    .button {
      width: 100%;
    }
  }

  .rows {
    padding: $gap_2 0;
    width: 100%;
    border-bottom: 1px solid $color_surface_border;

    &:last-child {
      border-bottom: none;
    }
  }
}