@import "@/styles/index";

.container {
  padding: $padding;

  .tooltips {
    width: 280px;

    .button {
      width: 100%;
    }
  }

  .rows {
    margin-top: calc($padding / 2);
    width: 100%;
  }
}